%div.container
  - unless @documents.blank?
    - @documents.each do |document|
      %a{ href: (url_for [document]) }
        .document
          %h3.title= document.title
          %p.date= time_ago_in_words(document.created_at)
  - else 
    %h2 Add a note
    %p It appears you haven't created any documents.
    = link_to "New Document", new_document_path